@import"nostylelist";
@import "colors";
@import "_cursor";
@mixin head-dim {
  height: 50%;
  width: 100%;
}
@mixin buttonBuy {
  background: $icon-color;
  padding: 10px;
  text-align: center;
  width: 150px;
  color: #fff;
  cursor: $finger;
}
@mixin li-head {
  cursor: $finger;
  @include list;
  color: #fff;
  font-size: $style-size;
  padding-left: 45px;
  padding: 20px;
}
@mixin container {
  width: 1200px;
  margin:0 auto;
}
@mixin list {
  list-style: $no-style;
  display: inline;
  padding-left: 6px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  .main-header{
    width: 100%;
    height: 90px;
    background: $bg-color;

    &-container{
      @include container;

      .main-header-top{
      @include head-dim;
      display: flex;
      justify-content: flex-end;

       ul{
        padding-top: 20px;

         li{
          @include list;
          color: $icon-color;
          font-size: $style-size;
          padding: 20px;

          span{
            padding-left: 10px;
            color: #989898;
          }
        }
      }
    }

     .main-header-bottom{
      @include head-dim;
      ul{
        padding-top: 15px;
        li{
          @include li-head;

          img{
            width: 90px;
            height: 23px;
          }
        }
        li:hover{
          background: #fff;
          color: #000;
        }
      }
    }
   }
  }

  .main-background{
    height: 460px;
    width: 100%;
    background-image: url("../img/hero8.jpg");
    background-position: top;
     .content{
       height: 460px;
       width: 70%;
       margin-left: 26%;


       .content-left{
         width:57%;
         height: 90%;
         float: left;
         margin-top: 5%;

         &-title{
           span:nth-child(1){
             color: #b936b2;
             font-size: 30px;
             font-style: oblique;
             padding-right: 5px;
           }
           span{
             font-size: 30px;
             color: $bg-color
           }
           > p{
             font-size: 24px;
             color: $bg-color;
             padding-top: 10px;
           }

         }
         &-menu{
           margin-top: 20px;
           ul{
             li{
            list-style: none;
            color: $bg-color;
            font-size:20px;
            padding: 0 5px 20px 0;
            i{
              color: $bg-color;
              font-size: 15px;
              padding-right: 6px;
            }

             }
           }
         }
         &-button{
           width: 250px;
           height: 60px;
           border: 2px solid $bg-color;
           position: relative;
           .left{
             padding:10px 0 0 25px;
             cursor: $finger;
           }
           .right{
             i{position: absolute;
                right: 25px;
                font-size: 30px;
                top: 10px;
             }
           }
         }

       }
       .content-right{
         width: 43%;
     height: 96%;
     background: $bg-color;
     float: left;
     margin-top: 2%;
     .left{
       width: 50%;
       padding:52px 0 0 15px;
       float: left;
       ul{
         li:first-child{
           list-style: none;
           color: #fff;
           font-size: 30px;
           padding-bottom: 10px;
         }
         li{
           color: #999;
           list-style:none;
           padding-bottom: 20px;

         }
       }
       .button{
        @include buttonBuy;

       }
       .button:hover{
         background: #80dfff;
       }
     }
     .right{float: right;
     padding: 20px 10px;
   }
       }
     }
  }
  .grey-row{
    width: 100%;
    height: 60px;
    background: #E6E6E6;

    &-container{
      display: flex;
      justify-content: center;
      @include container;
      ul{
        li:first-child{
          border-bottom: 2px solid black
        }
        li{
          @include list;
          font-size: 24px;
          padding: 16px;
          line-height: 60px;
          cursor: $finger
        }
        li:hover{
          background: #e1e1d0;
        }
      }
    }
  }
